.git
.github
.env
.env.*
.idea
.vscode
node_modules
vendor
public/build
public/hot
public/storage
bootstrap/cache/*.php
database/*.sqlite*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
docs
.phpunit.result.cache
